.App {
	text-align: left;
}

.header {
	color: rgb(12, 170, 206);
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

.pagination {
	display: flex;
	justify-content: center;
	padding-top: 100px;
}

.ul {
	list-style: none;
	padding: 0px;
	display: flex;
}
.li {
	background: #4e1f9b;
	padding: 10px 15px;
	margin-right: 4px;
	border-radius: 4px;
	font-family: sans-serif;
	color: #fff;
	font-size: 1.1rem;
	min-width: 20px;
	text-align: center;
	user-select: none;
}
